.container {
    margin-top: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  