<div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let character of characters">
        <div class="card mb-4 shadow-sm">
          <img src="{{character.image}}" class="card-img-top" alt="{{character.name}}">
          <div class="card-body">
            <h5 class="card-title">{{character.name}}</h5>
            <p class="card-text">{{character.status}} - {{character.species}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" *ngIf="loading">
      <p>Loading...</p>
    </div>
    <div class="text-center">
      <button (click)="onScroll()" class="btn btn-primary" [disabled]="loading">Load More</button>
    </div>
  </div>
  
